.form {
  display: block;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px 15px;
}

.formTitle {
  display: block;
  padding: 10px 0;
}

.formInput {
  display: block;
}
